<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item notification">
        <i class="fa-solid fa-bell"></i>
        <span class="badge bg-danger rounded-pill">3</span>
    </button>
</div>