<form class="app-search d-none d-lg-block">
    <div class="position-relative">
        <input type="text" class="form-control" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</form> 