<div class="container-fluid">
    <div class="col-sm-6">
        2023 © Artist Database
    </div>
    <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
            Design & Development by Pulsation Audio
        </div>
    </div>
</div>