{% block sidebar_menu %}
    <!--- Sidebar Menu -->
    <div id="sidebar-menu" class="mm-active">

        <ul class="list-unstyled mm-show" id="side-menu">
            <li class="menu-title" key="t-menu">Members</li>

            {% set Members = knp_menu_get('breadcrumbs', ['All Members']) %}
            {{ knp_menu_render(Members, {'template': 'menu/menu_sidebar_render.html.twig'}) }}

            <li class="menu-title" key="t-apps">Groups</li>

            {% set Groups = knp_menu_get('breadcrumbs', ['All Groups']) %}
            {{ knp_menu_render(Groups, {'template': 'menu/menu_sidebar_render.html.twig'}) }}

        </ul>
    </div>
{% endblock %}