{% block footer %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2023 © Artist Database
            </div>
            <div class="col-sm-6">
                    Design & Development by Pulsation Audio
            </div>
        </div>
    </div>
{% endblock %}