header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: var(--bs-heading-bg);
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 calc(24px * .5) 0 0;
}

.logo-box {
    padding: 0 1.5rem;
    text-align: center;
    width: 250px;
    background: #2a3042;
}

.logo {
    display:block;
    line-height: 70px;
}

.logo img {
    height:48px;
}

.app-search {
    padding: calc(32px * .5) 0;
    padding-left: 1rem;
}

.app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: var(--bs-topbar-search-bg);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    color: var(--bs-gray-600);
}

.app-search i {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: 38px;
    left: 13px;
    top: 0;
    color: var(--bs-gray-600);
}

.app-search input::placeholder {
    color: var(--bs-gray-600);
}

.header-profile-avatar {
    height: 36px;
    width: 36px;
    background-color: var(--bs-gray-300);
    padding: 3px;
}

.notification,
.settings {
    font-size: 20px;
}

.notification .badge {
    position: absolute;
    top: 6px;
    right: 2px;
    font-size: 11px;
}