:root {
    --bs-blue: #556ee6;
    --bs-indigo: #564ab1;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #f46a6a;
    --bs-orange: #f1734f;
    --bs-yellow: #f1b44c;
    --bs-green: #34c38f;
    --bs-teal: #050505;
    --bs-cyan: #50a5f1;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #74788d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #eff2f7;
    --bs-gray-300: #f6f6f6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #74788d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #556ee6;
    --bs-secondary: #74788d;
    --bs-success: #34c38f;
    --bs-info: #50a5f1;
    --bs-warning: #f1b44c;
    --bs-danger: #f46a6a;
    --bs-pink: #e83e8c;
    --bs-light: #eff2f7;
    --bs-dark: #343a40;
    --bs-primary-rgb: 85,110,230;
    --bs-secondary-rgb: 116,120,141;
    --bs-success-rgb: 52,195,143;
    --bs-info-rgb: 80,165,241;
    --bs-warning-rgb: 241,180,76;
    --bs-danger-rgb: 244,106,106;
    --bs-pink-rgb: 232,62,140;
    --bs-light-rgb: 239,242,247;
    --bs-dark-rgb: 52,58,64;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 73,80,87;
    --bs-body-bg-rgb: 248,248,251;
    --bs-font-sans-serif: "Poppins",sans-serif;
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.8125rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #495057;
    --bs-body-bg: #f8f8fb;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #eff2f7;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.25rem;
    --bs-border-radius-sm: 0.2rem;
    --bs-border-radius-lg: 0.4rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #556ee6;
    --bs-link-hover-color: #4458b8;
    --bs-code-color: #e83e8c;
    --bs-highlight-bg: #fcf8e3;

    
    --bs-gray-100: #212529;
    --bs-gray-200: #2a3042;
    --bs-gray-300: #32394e;
    --bs-gray-400: #a6b0cf;
    --bs-gray-500: #bfc8e2;
    --bs-gray-600: #c3cbe4;
    --bs-gray-700: #f6f6f6;
    --bs-gray-800: #eff2f7;
    --bs-gray-900: #f8f9fa;
    --bs-body-bg: #222736;
    --bs-body-bg-rgb: rgb(34, 39, 54);
    --bs-body-color-rgb: 166,176,207;
    --bs-body-color: #a6b0cf;
    --bs-heading-color: #f6f6f6;
    --bs-border-color: #32394e;
    --bs-custom-white: #2a3042;
    --bs-input-border-color: #32394e;
    --bs-input-focus-border-color: #3a425a;
    --bs-hr-border-color: #32394e;
    --bs-form-check-input-border: #3a425a;
    --bs-light: #32394e;
    --bs-light-rgb: 50,57,78;
    --bs-dark: #f6f6f6;
    --bs-dark-rgb: 246,246,246;
    --bs-heading-bg: #262b3c;
    --bs-header-item-color: #a6b0cf;
    --bs-topbar-search-bg: #2a3042;
    --bs-heading-dark-bg: #556ee6;
    --bs-boxed-body-bg: #32394f;
    --bs-topnav-bg: #282e3f;
    --bs-menu-item-color: #a6b0cf;
    --bs-footer-bg: #262b3c;
    --bs-footer-color: #a6b0cf;
}