.breadcrumb-item>a {
    color: var(--bs-gray-700) !important;
    text-decoration: none!important;
}

.breadcrumb-item.active {
    color: var(--bs-gray-600) !important;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x) !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/");
    color: var(--bs-gray-600) !important;
}