.dropdown-menu {
    --bs-dropdown-bg: var(--adb-header-bg-color);
    --bs-dropdown-link-color: var(--adb-font-color);
    --bs-dropdown-border-color: #32394e;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-divider-bg: #32394e;
    --bs-dropdown-link-hover-bg: #32394e;
    --bs-dropdown-link-hover-color: #e9ecef;
    --bs-dropdown-link-active-bg: #32394e;
    --bs-dropdown-link-active-color: #e9ecef;
}

.dropdown-menu li,
.dropdown-menu ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

.dropdown-menu i {
    font-size:16px !important;
    margin-right:0.25rem;
}

.dropdown-menu a {
    font-size:16px !important;
}

.profile-description p {
    font-size:12px;
}